<nav class="navbar navbar-fixed navbar-inner header" style="padding: 0px 16px">
  <div class="navbar-brand" style="color: rgb(0, 0, 0)">
    <a
      href="http://127.0.0.1:5000/"
      style="display: table-cell; vertical-align: middle; padding-left: 15px"
      >MY GALLERY</a
    >
  </div>

  <ul class="nav pull-right">
    <li>
      <a class="nav-link" href="/upload">Upload</a>
    </li>
    <li>
      <a class="nav-link" onclick="download(cnv, newFilename);">Download</a>
    </li>
  </ul>
</nav>
